*
{
    margin: 0;
    padding: 0;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn
{
    height: 44px;
    padding: 12.5px 16px;
    color: white;
    background-color: #469165;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    line-height: 1;
}

.nav-container
{
    height: 92px;
    display: flex;
    justify-content: space-between;
    gap: 340px;
    padding: 16px 120px;
}

.logo-img
{
    padding-top: 16px;
}

.nav-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 34px;
}

.nav-list li
{
    list-style: none;
}

.nav-list li a
{
    text-decoration: none;
    color: black;
    height: 16px;
    white-space: nowrap;
}

.nav-btn
{
    margin: 24px auto;
}

.hero-div
{
    max-width: 1600px;
    height: 908px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
}