*
{
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    max-width: 1600px;
}

.btn, .btn2
{
    height: 44px;
    padding: 12.5px 16px;
    color: white;
    background-color: #469165;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    line-height: 1;
    cursor: pointer;
}

.btn:hover
{
    background-color: white;
    color: #469165;
    transform: scale(1.05);
    border: 2px solid #469165;
}

.btn2:hover
{
    background-color: #469165;
    color: white;
    transform: scale(1.05);
    border: none;
}

.nav-container
{
    height: 92px;
    display: flex;
    justify-content: space-between;
    gap: 340px;
    padding: 16px 120px;
}

.logo-img
{
    padding-top: 16px;
}

.nav-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 34px;
}

.nav-list li
{
    list-style: none;
}

.nav-list li a
{
    text-decoration: none;
    color: black;
    height: 16px;
    white-space: nowrap;
}

.nav-btn
{
    margin: 24px auto;
}

.hero-div
{
    max-width: 1600px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    text-align: center;
    padding: 115.5px 120px 179.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-a button
{
    width: 229px;
    height: 35px;
    border: none;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.hero-div h1
{
    color: white;
    font-size: 72px;
    opacity: 90%;
}

.hero-div h1 span
{
    color: #469165;
}

.hero-div p
{
    color: white;
    font-size: 18px;
    margin: 16px auto 32px;
}

.btn2
{
    background-color: transparent;
    border: 2px solid;
}

.hero-btn .btn
{
    margin-right: 8px;
}

.hero-btn .btn2
{
    margin-left: 8px;
}

.hero-btn .btn #i1
{
    margin-left: 9px;
}

#i2
{
    margin-right: 9px;
}

.page2
{
    text-align: center;
    margin-top: 48px;
}

.page2-h1 h1
{
    font-size: 48px;
    margin-bottom: 16px;
}

.page2-h1 p, .cards p
{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.card-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    padding: 44px 120px;
}

.cards
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 322px;
    margin: 0 24px;
    padding: 16px 24px;
}

.cards:hover
{
    transform: scale(1.05);
    border: 1.5px solid #F95555;
    border-radius: 5px;
}

.card-img-div
{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.card-texts h3
{
    color: #001931;
}

.card-texts p
{
    margin-top: 16px;
    margin-bottom: 16px;
}

.page3
{
    padding: 120px;
}

.page3-div
{
    max-width: 1360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3-text-div
{
    margin-left: 60px;
}

.page3-text-div h4
{
    font-size: 16px;
    font-weight: 400px;
    color: #469165;
    margin-bottom: 16px;
}

.page3-text-div h1
{
    font-size: 48px;
    font-weight: 800;
    color: #001931;
    margin-bottom: 16px;
}

.page3-text-div p
{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}

.page3-text-div ul
{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #001931;
}

.page3-text-div ul li
{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.check-img
{
    margin-right: 6px;
}

.page4-div
{
    margin: 0 120px 120px;
    padding: 80px 40px;
    border-radius: 10px;
    max-width: 1360px;
    text-align: center;
    background-color: #F7F6F2;
}

.page4-div h1
{
    margin-top: 80px;
    font-size: 40px;
    font-weight: 800;
    color: #001931;
}

.page4-div p
{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}
.page4-div button
{
    margin-top: 24px;
}

#i3
{
    margin-left: 5px;
}

.page5
{
    background-color: #001931;
    color: white;
    padding: 120px 120px 30px;
}

.page5-div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-text-div
{
    margin-right: 36px;
}

.footer-text-div h4
{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}

.footer-text-div ul
{
    list-style: none;
    display: flex;
}

.social-img
{
    margin-right: 16px;
    height: 20px;
    border-radius: 20px;
}

.page5-footer-div
{
    text-align: center;
}

.page5-footer-div
{
    font-size: 16px;
    font-weight: 400px;
    color: #FAFAFA;
}